.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.0625rem, 1fr));
  grid-gap: 1.5rem;
}

.cards > ul > li {
  border: 0.0625rem solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 1rem;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  -o-object-fit: cover;
     object-fit: cover;
}