/*
  Nesting CSS only supported starting Dec 2023
  Prior to that if css is nested will break and not showing the proper styling
*/

:root {
  --user-size: 80px;
  --indicator-size: 10px;
}

.block.userindicator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.block.userindicator .user-indicator-img {
  order: 1;
  position: relative;
}

.block.userindicator .user-indicator-picture {
  display: block;
  cursor: pointer;
  border: 1px solid #00000014;
  padding: 5px;
  border-radius: 50%;
}

.block.userindicator .user-indicator-indicator-inner {
  background-color: #fff;
  bottom: 5px;
  left: 10px;
  position: absolute;
  border-radius: 50%;
  width: var(--indicator-size);
  height: var(--indicator-size);
  padding: 3px;
}

.block.userindicator .user-indicator-indicator {
  display: block;
  background-color: #17b26a;
  border-radius: 50%;
  position: relative;
  width: var(--indicator-size);
  height: var(--indicator-size);
}

.block.userindicator .user-indicator-picture picture {
  border-radius: 50%;
  overflow: hidden;
  display: block;
  width: var(--user-size);
  height: var(--user-size);
}

.block.userindicator .user-indicator-name {
  order: 0;
  margin-right: 9px;
  display: none;
}

.block.userindicator .user-indicator-name p {
  margin: 0;
}

@media (width >= 768px) {
  .block.userindicator .user-indicator-name {
    display: block;
  }
}
