@use '../../styles/abstract' as *;

.block {
    &.job-seeker-intro {
        .job-seeker-intro__picture {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .job-seeker-intro__content-inner {
            text-align: center;

            h2 {
                @include heading-level-3;
            }
        }
    }
}
