/* Headings */
/* Text */
.block.job-seeker-intro .job-seeker-intro__picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block.job-seeker-intro .job-seeker-intro__content-inner {
  text-align: center;
}
.block.job-seeker-intro .job-seeker-intro__content-inner h2 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .block.job-seeker-intro .job-seeker-intro__content-inner h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .block.job-seeker-intro .job-seeker-intro__content-inner h2 {
    font-size: 2.625rem;
  }
}