@use '../abstract' as *;
/* Base text styles */
body {
    font-family: $font-family;
    font-size: $base-font-size;
    font-weight: $font-weight-regular;
    line-height: $line-height-text;
    color: $text-color;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
    font-weight: $font-weight-bold;
    line-height: $line-height-heading;
    letter-spacing: $letter-spacing;
    color: $text-color;
    margin-bottom: 1rem;
}

h1 {
    font-size: $h1-size;
}
h2 {
    font-size: $h2-size;
}
h3 {
    font-size: $h3-size;
}
h4 {
    font-size: $h4-size;
}
h5 {
    font-size: $h5-size;
}
h6 {
    font-size: $h6-size;
}

ul {
    margin: 0;
    padding: 0;
}

picture {
    display: block;
}

p {
    @include paragraph;
}
