footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 75rem;
  padding: 2.5rem 1.5rem 1.5rem;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 2.5rem 2rem 1.5rem;
  }
}